h1 {
    color: rgb(73, 119, 145);
    text-align: center;
}
td {
    width: 35px;
    height: 35px;
    color: rgb(73, 119, 145);
  }
td:hover {
    transform: scale(1.5);
    background: white!important;
    color: lightblue;
}
.TabelacuLitere {
    margin: auto;
    width: 330px;
    text-align: center;
}
.TabelacuCifreLeft {
    margin: auto;
    float: left;
    margin-left: 122px;
    text-align: center;
}
.TabelaMare {
    float: left;
    text-align: right;
    border: 1px solid rgb(73, 119, 145);
}
.TabelacuCifreRight {
    text-align: center;
}
[data-tooltip]::after {
    content: attr(data-tooltip);
    background: rgb(73, 119, 145);
    color: white;
    border: 0.1px solid white;
    opacity: 0;
    font-size: 4px;
   } 
[data-tooltip]:hover::after {
    opacity: 1;
   }
